{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/feedback.css' %}">
    <script href="{% static 'js/js_feedback.js' %}"></script>
</head>
<body>
<div class="contain">
	<div class="congrats">
        <h1>{{ personality }}</h1>
{#		<h1>Congrat<span class="hide">ulation</span>s !</h1>#}
		<div class="done">
			<svg version="1.1" id="tick" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 37 37" style="enable-background:new 0 0 37 37;" xml:space="preserve">
<path class="circ path" style="fill:#0cdcc7;stroke:#07a796;stroke-width:3;stroke-linejoin:round;stroke-miterlimit:10;" d="
	M30.5,6.5L30.5,6.5c6.6,6.6,6.6,17.4,0,24l0,0c-6.6,6.6-17.4,6.6-24,0l0,0c-6.6-6.6-6.6-17.4,0-24l0,0C13.1-0.2,23.9-0.2,30.5,6.5z"
	/>
<polyline class="tick path" style="fill:none;stroke:#fff;stroke-width:3;stroke-linejoin:round;stroke-miterlimit:10;" points="
	11.6,20 15.9,24.2 26.4,13.8 "/>
</svg>
			</div>
		<div class="text">
		<p>You have successfully booked an appointment with us. <br>Here are your details<br>Date: 12.12.12<br>
			Time: 11am<br>
			ID: 12324
		</p>
			<p>Eagerly awaiting your visit
			</p>
			</div>
		<p class="regards"><a href="{% url 'index' %}">Retake the Test</a></p>
	</div>
</div>
</body>
</html>